<h1>About Alpha Blog</h1>
<p>Alpha Blog is a project in the Udemy Ruby on Rails course.</p>
<p> Bootsatrap version: <script>document.write($.fn.tooltip.Constructor.VERSION);</script></p>
<%= link_to 'Home', root_path %>