<div class="center jumbotron">
  <h1>Alpha Blog</h1>
  <p>This is the home page of the Alpha Blog test project.</p>
  <p>Sign up now!</p>
  <p><%= link_to 'Sign Up', "#", class: "btn btn-primary btn-lg" %></p>
</div>
